 @font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
  url('../fonts/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSSans.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333333;
  --hover-color: #9D5CD0;
  --outline-color: #7943A4;
}

* {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body {
  min-width: 320px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-weight: normal;
  font-size: 48px;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.links-style {
  font-size: 18px;
  color: var(--white-color);
  transition: all .3s ease-in-out;
}

.purple-btn {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.purple-btn:hover {
  background-color: var(--hover-color);
}

.container {
  max-width: 1633px;
  padding: 0 15px;
  margin: 0 auto;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.sign-in-mobile {
  display: none;
}

/* header */

.container-fluid {
  max-width: 1701px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__up {
  background-color: var(--black-color);
}

.header__up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 28px;
}

.header__up-container-left {
  margin-top: 2px;
}

.header__burger-menu-button {
  display: none;
}

.header__up-container-center {
  display: none;
}

.header__up-container-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.header__up-nav-log {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header__up-nav {
  width: 75%;
}

.header__up-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header__up-nav-link {
  position: relative;
  z-index: 0;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  transition: color .3s ease;
}

.header__up-nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__up-nav-link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -4px;
  right: -6px;
  bottom: -4px;
  left: -6px;
  background-color: var(--outline-color);
  opacity: 0;
  transition: opacity .3s ease;
}

.header__up-nav-link:hover:not(:focus-visible) {
  color: #c283f3;
}

.header__up-nav-link:focus-visible::after  {
  opacity: 1 !important;
}

.header__up-nav-link:active:not(:focus-visible) {
   color: var(--outline-color);
}

.header__up-login {
  margin-left: 7.2%;
}

.header__up-login-link {
  position: relative;
  z-index: 0;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0;
  transition: color .3s ease;
}

.header__up-login-link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  background-color: var(--outline-color);
  opacity: 0;
  transition: opacity .3s ease;
}

.header__up-login-link svg {
  margin-right: 3px;
}

.header__up-login-link path {
  transition: fill .3s ease;
}

.header__up-login-link:hover:not(:focus-visible) {
  color: #c283f3;
}

.header__up-login-link:hover:not(:focus-visible) path {
  fill: #c283f3;
}

.header__up-login-link:focus-visible::after {
  opacity: 1;
}

.header__up-login-link:active:not(:focus-visible) {
  color: var(--hover-color);
}

.header__up-login-link:active:not(:focus-visible) path {
  fill: var(--hover-color);
}

.header__up-mobile-search-button {
  display: none;
}

.header__up-mobile-search {
  display: none;
}

.header__down-desktop-search__form__btn-submit:hover {
  background-image: url('../img/search-active.svg');
}

.header__down-desktop-search__form__btn-submit:focus{
  background-image: url('../img/search-active.svg');
  opacity: 0.7;
}

.header__down-desktop-search__form:active .header__down-desktop-search__form__btn-submit {
  background-image: url('../img/search-active.svg');
}

.header__down {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}

.header__down-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 43px;
  padding-right: 51px;
}


.header__down-container-left {
  flex-grow: 1;
}

.header__down-container-right {
  display: flex;
  justify-content: flex-end;
}

.header__down-dropdowns {
  display: flex;
  padding-left: 5px;
  flex-wrap: wrap;
  width: 100%;

}

.header__down-dropdowns-item {
  padding-top: 22px;
  padding-bottom: 23px;
}

.header__down-dropdowns-item:not(:last-child) {
  margin-right: 108px;
}

.header__down-dropdowns-item-btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.5px;
  transition: color .3s ease;
}

.header__down-dropdowns-item-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -4px;
  right: -22px;
  bottom: -4px;
  left: -6px;
  background-color: var(--outline-color);
  opacity: 0;
  transition: opacity .3s ease;
}

.header__down-dropdowns-item-btn svg {
  position: absolute;
  top: 12px;
  right: -16px;
}

.header__down-dropdowns-item-btn svg {
  transition: transform .3s ease;
}

.header__down-dropdowns-item-btn svg path {
  transition: stroke .3s ease;
}

.header__down-dropdowns-item-btn:hover:not(:focus-visible) {
  color: var(--hover-color);
}
.header__down-dropdowns-item-btn:hover:not(:focus-visible) svg path {
  stroke: var(--hover-color);
}

.header__down-dropdowns-item-btn:focus-visible {
  color: var(--white-color);
}

.header__down-dropdowns-item-btn:focus-visible svg path {
  stroke: var(--white-color);
}

.header__down-dropdowns-item-btn:focus-visible::after {
  opacity: 1;
}

.header__down-dropdowns-item-btn:active:not(:focus-visible) {
  color: var(--outline-color);
}

.header__down-dropdowns-item-btn:active:not(:focus-visible) svg {
  transform: rotate(-180deg);
}

.header__down-dropdowns-item-btn:active:not(:focus-visible) svg path {
  stroke: var(--outline-color);
}

.header__down-dropdowns-item-btn_active_true {
  color: var(--outline-color);
}

.header__down-dropdowns-item-btn_active_true svg {
  transform: rotate(-180deg);
}

.header__down-dropdowns-item-btn_active_true svg path {
  stroke: var(--outline-color);
}

.header__down-dropdowns-item {
  position: relative;
}

.header__down-dropdowns-item-list-container {
  position: absolute;
  top: 100%;
  display: none;
  width: 300px;
  padding: 40px 25px 40px 40px;
  background: rgba(0, 0, 0, 0.4);
}

.header__down-dropdowns-item-list-container_active_true {
  display: block;
}

.header__down-dropdowns-item-list {
  height: 225px;
  padding-right: 19px;
}


.header__down-dropdowns-item-list-item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__down-dropdowns-item-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__down-dropdowns-item-list-item-link {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
}

.header__down-dropdowns-item-list-item-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  outline: 2px solid  var(--hover-color);
  /* the following style is necessary because without it at different statuses outline is not visible from the left and/or from above */
  outline-offset: -2px;
  opacity: 0;
  transition-property: opacity, background-color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.header__down-dropdowns-item-list-item-link:hover:not(:focus-visible)::before {
  opacity: 1;
}

.header__down-dropdowns-item-list-item-link:focus-visible::before {
  opacity: 1;
}

.header__down-dropdowns-item-list-item-link:active:not(:focus-visible)::before {
  opacity: 1;
  background-color: rgba(194, 131, 243, 0.4);
  outline-color: #d1a9f0;
}

.simplebar-track.simplebar-vertical {
  width: 2px ;
  background-color: var(--black-color);
}

.simplebar-scrollbar::before {
  left: 0;
  width: 2px;
  background-color: var(--white-color);
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.header__down-desktop-search {
  margin-top: 7px;
}

.header__down-desktop-search__form {
  display: flex;
}

.header__down-desktop-search__form__btn-submit {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 9px;
  background: transparent;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-image .3s ease;
  border: none;
}

.header__down-desktop-search__form-field {
  width: 218px;
  border: none;
  padding-left: 0;
  padding-bottom: 3px;
  color: var(--white-color);
  background: transparent;
  border-bottom: 1px #dcdcdc solid;
  transition: border-color .3s ease;
}

.header__down-desktop-search__form:hover .header__down-desktop-search__form-field {
  border-color: #c283f3;
}

.header__down-desktop-search__form-field:focus-within{
  border-color: var(--outline-color);
}


.header__down-desktop-search__form-field:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}


.header__down-desktop-search__form-field::placeholder {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
}



/* Slider */
.slider {
  position: relative;
  overflow: hidden;
}

.slider__box.swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  height: 100%;
  animation-name: resize;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slider__item.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__item-1 {
  background-image: url('../img/slide-1.jpg');
}

.slider__item-2 {
  background-image: url('../img/slide-2.jpg');
}

.slider__item-3 {
  background-image: url('../img/slide-3.jpg');
}

.slider__info-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1700px;
  padding: 141px 0 122px 50px;
  margin: 0 auto;
}

.slider__info-up {
  max-width: 600px;
  margin-bottom: 92px;
}

.slider__title {
  margin-bottom: 19px;
  color: var(--white-color);
  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
}

.slider__description {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

}

.slider__link {
  position: relative;
  z-index: 0;
  padding: 19px 32px;
  border-radius: 100px;
  background-color: var(--hover-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: 3px solid var(--hover-color);
  transition-property: border, background-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.slider__link::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -9px;
  right: -9px;
  bottom: -9px;
  left: -9px;
  border: 3px solid var(--hover-color);
  border-radius: 100px;
  background-color: transparent;
  opacity: 0;
  transition: opacity .3s ease;
}

.slider__link:hover:not(:focus-visible) {
  border: 3px solid #d1a9f0;
}

.slider__link:focus-visible::after {
  opacity: 1;
}

.slider__link:active:not(:focus-visible) {
  border: 3px solid #d1a9f0;
  background-color: var(--outline-color);
}


/* about */

.about__container {
  padding-top: 87px;
  padding-bottom: 71px;
}

.about__title {
  margin-bottom: 19px;
}

.about__descr {
  max-width: 68%;
  font-size: 16px;
  line-height: 32px;
}

/* gallery */

.gallery {
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 79px;
}


.gallery__link {
  color: #C283F3;
}

.gallery__content {
  display: flex;
}

.gallery__filter {
  width: 25%;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 28px;
  color: var(--white-color);
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-text {
  position: relative;
  display: flex;
  padding-left: 26px;
  align-items: center;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  border: 1px solid white;
  width: 11px;
  height: 11px;
  transition: border 0.3s ease-in-out;
}

.checkbox-text::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 3.3px;
  width: 7px;
  height: 7px;
  background-image: url('../img/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4px;
  opacity: 0;
}

.checkbox:checked+.checkbox-text::after {
  opacity: 1;
}

.checkbox:checked+.checkbox-text::before {
  border: 1px solid #C283F3;
}

.checkbox-text:hover {
  color: #C283F3;
}

.checkbox:focus + .checkbox-text{
  color: #C283F3;
}

.checkbox:focus + .checkbox-text::before {
  border: 1px solid #C283F3;
}

.checkbox:checked +.checkbox-text {
  color: #C283F3;
}

.label:hover .checkbox-text::before {
  border: 1px solid #C283F3;
}

.checkbox-wrapper{
  display: flex;
  padding-top: 5px;
  margin-top: auto;
  flex-direction: column;
}

.label {
  max-width: 30%;
  color: var(--grey-color);
  cursor: pointer;
}

.label:not(:last-child) {
  margin-bottom: 1px;
}

.gallery__subtitle {
  margin-bottom: 16px;
  color: var(--white-color);
}

.gallery__select {
  width: 100%;
}

.choices__list {
  color: var(--white-color);
}

.choices__item {
  font-size: 16px;
}

.choices__inner,
.choices__list,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__inner:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list {
  z-index: 111;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.choices__inner {
  border-radius: 6px;
  min-height: 40px;
  padding-top: 4px;
  padding-left: 12px;
}

.is-focused .choices__inner {
  border-radius: 6px;
  overflow: hidden;
}

.is-open .choices__list--dropdown {
  border-radius: 6px;
}

.choices[data-type*=select-one]:after{
  content: '';
  height: 7px;
  width: 7px;
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
  position: absolute;
  right: 14.7px;
  top: 49%;
  z-index: 25;
  transform: rotate(223deg);
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after{
  top: 45%;
  margin-top: 0;
  transform: rotate(45deg);
  border: 1px solid var(--white-color);
  border-color: var(--white-color) transparent transparent var(--white-color);
}

.choices__item--choice,
.choices__inner  {
  transition: outline .3s ease-in-out, border-color .3s ease-in-out;
}

.choices__item--choice:hover {
  outline: var(--hover-color);
}

.choices__inner:focus {
  border-color: var(--outline-color);
}

.choices__list--dropdown .choices__item--selectable.is-selected{
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: transparent;
}

.gallery-slider {
  width: calc(1150 / 1600 * 100%);
}

.gallery__swiper-container {
  overflow: hidden;
}

.gallery__swiper-slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.gallery__swiper-slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: calc(100% - 6px);
  border: 3px solid transparent;
  box-sizing: border-box;
  transition: background-color .3s ease, border-color .3s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.gallery__swiper-slide:focus::before {
  border-color: #7943A4;
}

.gallery__swiper-slide:focus {
  outline: none;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
}

.gallery__swiper-slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.gallery__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #666666;
  display: inline-block;
  z-index: 100;
  border: 1px solid #666666;
  transition: all .3s ease-in-out;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: var(--hover-color);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background: var(--outline-color);
  outline: 1px solid #D1A9F0;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 1px solid var(--black-color);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  top: 8px;
  display: block;
  color: var(--white-color);
  font-size: 10px;
}

.swiper-button-next::after{
  left: 13px;
}

.swiper-button-prev::after {
  left: 10px;
}

.swiper-pagination {
  bottom: 5px !important;
  color: var(--white-color);
}

.swiper-pagination-bullet {
  margin: 0 8px !important;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: #666666;
}

.gallery__swiper-navagation{
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin-top: 26px;
  margin-bottom: 37px;
  margin-left: 6px;
}

.gallery__swiper-pagination{
  width: auto;
  text-align: center;
  color: var(--white-color);
}

/* catalog */

.catalog {
  padding-top: 85px;
}

.catalog__title {
  margin-bottom: 18px;
}

.country-info {
  margin-bottom: 40px;
  max-width: 69%;
  line-height: 32px;
}

.tabs-content {
  display: none;
}

.tabs-content-active {
  display: block;
}

.tabs-content__container {
  display: flex;
}

.painter {
  max-width: 49%;
  display: none;
}

.painter-content-active {
  display: block;
}

.accordion__painter-link--active {
  font-weight: 600;
  color: var(--hover-color);
}

.accordion__grey-block {
  display: inline-block;
  margin-right: 36px;
  width: 275px;
  height: 189px;
  background-color: #B7B7B7;
  outline: 2px solid #B7B7B7;
  outline-offset: 12px;
}

.accordion__not-painter {
  padding: 37px;
  display: flex;
}

.accordion__not-painter-text {
  display: flex;
  flex-direction: column;
}

.accordion__header-text {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.accordion__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--hover-color);
}

.painter__photo {
  margin-bottom: 26px;
}

.painter__gallery {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--hover-color);
}


.painter__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.painter__years-life {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.painter__info {
  line-height: 200%;
  max-width: 95%;
}

.accordion {
  max-width: 50%;
  width: 100%;
  margin-left: auto;
}

.accordion__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.accordion__btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  text-align: left;
  border-top: 1px solid #cacaca;
  margin-top: -0.6px;
}

.accordion__btn:hover {
  border-top: 1px solid #D1A9F0;
}

.accordion__item:hover + .accordion__item .accordion__btn{
 border-top: 1px solid #D1A9F0;
}

.accordion__btn:hover .accordion__arrow-btn {
  background-color: #D1A9F0;
}

.accordion__btn:focus .accordion__title{
  background: var(--outline-color);
  color: var(--white-color)
}

.accordion__btn:active {
  border-bottom: 1px solid var(--hover-color);
  border-top: 1px solid var(--hover-color);
}

.accordion__btn::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  border-left: solid 1px var(--black-color);
  border-bottom: solid 1px var(--black-color);
  width: 12px;
  height: 12px;
}

.accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  transition: color .3s ease-in-out;
}

.accordion__title:hover {
  color:var(--hover-color);
}

.accordion__btn:active .accordion__title {
  color:var(--outline-color);
  background: var(--white-color);
}

.accordion__arrow-btn {
  position: relative;
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: 4px;
  border: 1px solid #ececec;
  border-radius: 50%;
  background-color: #ececec;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.accordion__arrow-btn:hover {
  border: 1px solid var(--hover-color);
  background-color: var(--hover-color);
}

.accordion__arrow-btn:active {
  border: 1px solid #D1A9F0;;
  background-color: var(--outline-color);
}

.accordion__arrow-btn::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 17px;
  border-left: solid 1px var(--black-color);
  border-top: solid 1px var(--black-color);
  width: 12px;
  height: 12px;
  transform: rotate(225deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out, border-left .3s ease-in-out, border-top .3s ease-in-out;
}

.accordion__arrow-btn:hover::after {
  border-left: solid 1px var(--white-color);
  border-top: solid 1px var(--white-color);
}

.accordion__btn.ui-accordion-header-active {

  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

.accordion__btn.ui-accordion-header-active .accordion__arrow-btn {
  border:1px solid var(--hover-color);
  background-color: #D1A9F0;
}

.accordion__btn.ui-accordion-header-active .accordion__arrow-btn::after {
  top: 13px !important;
  transform: rotate(45deg);
}

.accordion__painter-list {
  columns: 3;
  padding-top: 28px;
  padding-bottom: 25px;
}

.accordion__painter-link {
  line-height: 200%;
  transition: color .3s ease-in-out, border .3s ease-in-out;
}

.accordion__painter-link:hover {
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

.accordion__painter-link:focus {
  background: var(--outline-color);
  color: var(--white-color);
}

.accordion__painter-link:active {
  background: var(--white-color);
  color: var(--outline-color);
}

/* events */

.events {
  position: relative;
  padding: 85px 0 0 0;
}

.events__head-title {
  padding-left: 15px;
  margin-bottom: 20px;
}

.events__item {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  border: 1px solid #CACACA;
  height: auto;
}


.events__button-next {
  position: absolute;
  top: 59%;
  right: -7px;
  width: 50px;
  height: 50px;
  background: #ececec;
  border: none;
}

.events__button-prev {
  position: absolute;
  top: 59%;
  left: -9px;
  width: 50px;
  height: 50px;
  background: #ececec;
  border: none;
}

.events__button-next::after{
  left: 23px;
  top: 17px;
  color: #000;
  font-size: 17px;
}

.events__button-prev::after {
  left: 19px;
  top: 17px;
  color: #000;
  font-size: 17px;
}

.events__button-prev.swiper-button-disabled ,.events__button-next.swiper-button-disabled{
  opacity: 0;
}

.events__item-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 300px;
  margin-bottom: 14px;
}

.events__item-text {
  padding: 0 19px 38px 50px;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  flex-direction: column;
}

.small-text  {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.small-text:nth-child(2) {
  margin-bottom: 14px;
}

.events__title {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  max-width: 88%;
}

.events__descr {
  max-width: 94%;
  line-height: 200%;
}

.events__more {
  position: relative;
  margin-top: auto;
  color: #9d5cd0;
  max-width: 88px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: color .3s ease;
}

.events__more::before {
  content: '';
  position: absolute;
  top: -2px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  z-index: -1;
  background-color: #9d5cd0;
  opacity: 0;
  transition: opacity .3s ease;
}

.events__more::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  z-index: -1;
  height: 1px;
  background-color: #9d5cd0;
  transition: background-color .3s ease;
}

.events__more:hover:not(:focus-visible) {
  color: var(--outline-color);
}

.events__more:hover:not(:focus-visible)::after {
  background: var(--outline-color);
}

.events__more:focus-visible {
  color: var(--white-color);
}

.events__more:focus-visible::before {
  opacity: 1;
}

.events__more:focus-visible::after {
  background: var(--white-color);
}

.events__more:active:not(:focus-visible) {
  color: var(--text-color);
}

.events__more:active:not(:focus-visible)::after {
  background: var(--text-color);
}

.events__slider-container {
  padding: 0 15px;
  width: 100%;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.3);
}

.overlay.show {
  display: flex;
}

.projects {
  padding-top: 85px;
  padding-bottom: 80px;
}

.projects__title {
  margin-bottom: 21px;
}

.projects__descr {
  max-width: 66.7%;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 32px;
}

.projects__link {
  position: relative;
  color: var(--hover-color);
  font-weight: 600;
}

.projects__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -4px -6px;
  background-color: var(--hover-color);
  opacity: 0;
  transition: opacity 0.3s ease, border-bottom 0.3s ease ;
}

.projects__link:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--outline-color);
}

.projects__link:active:not(:focus-visible) {
  color: var(--outline-color);
}

.projects__link:focus {
  color: white;
}

.projects__link:focus-visible::after  {
  opacity: 1 !important;
}


.tooltip {
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-marker {
  padding-top: 6px;
  width: 16px;
  height: 22px;
  fill: transparent;
  transition: fill .3s ease-in-out;
}

.tooltip-marker__circle {
  stroke: var(--hover-color);
}

.tooltip-marker__icon {
  fill: var(--black-color);
}

.tooltip:hover .tooltip-marker,
.tooltip:focus .tooltip-marker {
  fill: #D1A9F0;
}

.tooltip:active .tooltip-marker__circle {
  fill: var(--hover-color);
}

.tooltip:active .tooltip-marker__icon {
  fill: var(--white-color);
}

.tooltip:focus {
  outline: none;
}

.tippy-box[data-theme~='tooltip-theme'] {
  background-color: var(--hover-color);
  color: var(--white-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 0;
}

.tippy-box[data-theme~='tooltip-theme'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--hover-color);
}
.tippy-box[data-theme~='tooltip-theme'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--hover-color);
}
.tippy-box[data-theme~='tooltip-theme'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--hover-color);
}
.tippy-box[data-theme~='tooltip-theme'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--hover-color);
}

.partners-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 23px;
}

.partners__swiper {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.partners__swiper-container {
  max-width: 1450px;
}

.partners__swiper-slide-link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border: 1px solid #cacaca;
}

.partners__swiper-slide-link:focus,
.partners__swiper-slide-link:active {
  outline: none;
  border: 1px solid var(--hover-color);
}

.partners__swiper-slide-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter .3s ease-in-out, opacity .3s ease-in-out;
}

.partners__swiper-slide-link:hover .partners__swiper-slide-img {
  filter: grayscale(0%);
  opacity: 1;
}

.partners__swiper-slide-link:active .partners__swiper-slide-img {
  filter: grayscale(0%);
  opacity: 1;
}

.partners__button-prev,
.partners__button-next {
  position: absolute;
  top: 55%;
}

.partners__button-prev {
  left: 0;
}

.partners__button-next {
  right: 0;
}

.partners__button-prev,
.partners__button-next {
  background-color:#ececec;
  border: 1px solid #ececec;
}


.contacts {
  padding-top: 5px;
  padding-bottom: 20px;
  border-top: 1px solid #CACACA;
}


.contacts-form__btn-small {
  display: none;
}

.contacts__content {
  border-top: 1px solid #CACACA;
}


.contacts-text {
  display: flex;
  padding-top: 36px;
  width: 100%;
}

.contacts-text__subtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
}

.contacts-text__address {
  font-style: normal;
  margin-bottom: 37px;
}

.contacts-form {
  position: relative;
  display: flex;
  padding-top: 12px;
}

.contacts-form--title {
  font-size: 24px;
  margin-bottom: 19px;
}

.contacts-form__input {
  margin-right: 22px;
  padding-left: 20px;
  width: 270px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #333333;
  transition: background-color .3s ease-in-out;
}

.contacts-form__input:focus,
.contacts-form__input:hover {
  background-color: #EAEAEA;
}

.contacts-form__btn {
  margin-right: 10px;
  width: 329px;
  height: 50px;
  padding: 11px 37px 19px 37px;
}

.contacts-form__btn-text {
  display: block;
  width: 130%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.input-wraper {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  left: 24px;
  top: -18px;
  font-size: 12px;
}

.contacts__messendger {
  margin-left: auto;
}

.contacts-form__btn:hover {
  color: var(--white-color);
}

.contacts-form__btn:active {
  border: 1px solid var(--outline-color);
}


.contacts-form__btn:focus {
  border: 1px solid var(--outline-color);
  outline: 1px solid var(--outline-color);
  outline-offset: 2px;
}

.connect {
  display: flex;
}

.connect__messenger {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
}

/* .ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-listbox__button,
.ymaps-2-1-79-copyright__link {
  display: none !important;
} */

.connect__messenger:hover,
.connect__messenger:focus{
  opacity: 0.5;
}

.connect__messenger:active {
  outline: none;
  outline: 2px solid var(--outline-color);
  border-radius: 50%;
}


.contacts__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.connect__messenger:not(:last-child) {
  margin-right: 20px;
}


.contacts__titile__wrapper {
  display: flex;
  padding-top: 5px;
  margin-right: 82px;
  flex-direction: column;
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

/* footer */

.footer {
  background-color: var(--black-color);
  padding-bottom: 50px;
  padding-top: 42px;
}

.footer__container {
  display: flex;
}

.footer__social-list {
  display: flex;
  margin-left: auto;
}

.footer__social-item:not(:last-child) {
  margin-right: 19px;
}

.footer__social-link svg path{
  transition: fill .3s ease-in-out;
}

.footer__social-link:hover svg path,
.footer__social-link:focus svg path {
  fill: var(--white-color);
}

.footer__social-link:active svg path {
  fill: var(--hover-color);
}

@media (max-width: 1600px) {

  .header__down-dropdowns-item:not(:last-child) {
    margin-right: 79px;
  }

  .partners__swiper-container {
    max-width: 90%;
  }

  .partners__swiper-container {
    max-width: 90%;
  }
}
@media (max-width: 1300px) {
  .container {
    padding: 0 50px;
  }

  .header__up-container {
    padding-top: 28px;
    padding-bottom: 27px;
}

.header__up-container-left {
    margin-top: 0;
}

.header__logo {
    display: none;
}

.header__burger-menu-button {
    position: relative;
    z-index: 4;
    display: block;
    cursor: pointer;
    padding: 0;
    user-select: none;
    background: none;
    border: none;
}

.header__burger-menu-button span {
    display: block;
    height: 3px;
    background-color: var(--white-color);
    z-index: 2;
    transform-origin: 1px 2px;
    transition: transform .3s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity .3s ease,
                width .3s ease;
}

.header__burger-menu-button span:nth-child(1) {
    width: 36px;
    margin-bottom: 8.5px;
}

.header__burger-menu-button span:nth-child(2) {
    width: 28px;
    margin-bottom: 8.5px;
}

.header__burger-menu-button span:nth-child(3) {
    width: 24px;
}

.burger-menu-open span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.burger-menu-open span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.burger-menu-open span:nth-child(3) {
    transform: rotate(-45deg) translate(0, 1px);
    width: 36px;
}

.header__up-container-center {
    display: flex;
    align-items: center;
}

.header__up-container-right {
    flex-grow: 0;
}

.header__up-nav-log {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 116px 50px 50px 48px;
    width: 100%;
    background: var(--black-color);
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header__up-nav-log-open {
    transform: translateX(100%);
}

.header__up-nav {
    padding-right: 0;
}

.header__up-nav-list {
    flex-direction: column;
}

.header__up-nav-item:not(:last-child) {
    margin-bottom: 39px;
}

.header__up-nav-link {
    font-size: 23px;
    letter-spacing: .9px;
}

.header__up-login {
    border: 1px solid var(--hover-color);
    border-radius: 100px;
    margin-left: 1px;
    padding-top: 16px;
    padding-right: 90px;
    padding-bottom: 15px;
    padding-left: 88px;
}

.header__up-mobile-search-button {
    display: block;
    width: 31px;
    height: 31px;
    cursor: pointer;
    background: transparent;
    background-image: url('../img/search-mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: border-color .3s ease;
    border: none;
}

.header__up-mobile-search-button:hover:not(:focus-visible) {
    background-image: url('../img/search-mobile-active.svg');
}

.header__up-mobile-search {
    position: absolute;
    right: 45px;
    display: block;
    padding: 15px 6px 16px 0px;
    transform: translateY(-130%);
    transition: transform .3s ease;
}

.search__form-open {
    transform: none;
    background-color: var(--black-color);
}

.header__up-mobile-search-form {
    display: flex;
    align-items: flex-end;
}

.header__up-mobile-search-form-field {
    width: 217px;
    border: none;
    color: var(--white-color);
    background: transparent;
    border-bottom: 1px #dcdcdc solid;
    transition: border-color .3s ease;
}

.header__up-mobile-search-form:hover .header__up-mobile-search-form-field {
    border-color: #c283f3;
}

.header__up-mobile-search-form:focus .header__up-mobile-search-form-field {
    border-color: var(--outline-color);
}

.header__up-mobile-search-form:active .header__up-mobile-search-form-field {
    border-color: #c283f3;
}

.header__up-mobile-search-form-btn-submit {
    margin-right: 11px;
    width: 29px;
    height: 29px;
    background: transparent;
    background-image: url('../img/search-mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: border-color .3s ease;
    border: none;
}

.header__up-mobile-search-form:hover .header__up-mobile-search-form-btn-submit {
  background-image: url('../img/search-mobile-active.svg');
}

.header__up-mobile-search-form-field:focus + .header__up-mobile-search-form-btn-submit {
  background-image: url('../img/search-mobile-active.svg');
}

.header__up-mobile-search-form:active .header__up-mobile-search-form-btn-submit {
  background-image: url('../img/search-mobile-active.svg');
}


.header__up-mobile-search-close-button {
  display: block;
  width: 33px;
  height: 31px;
  margin-left: 23px;
  background-image: url(../img/x.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  transition: border-color .3s ease;
  border: none;
}

.header__down {
    display: none;
}



/* Slider */

.slider__info-container {
    padding: 113px 0 115px 50px;
}

.slider__info-up {
    max-width: 660px;
    margin-bottom: 134px;
}

.slider__title {
    margin-bottom: 11px;
}

  .about__container {
    padding-top: 87px;
    padding-bottom: 71px;
  }

  .country-info {
    max-width: 100%;
  }

  .accordion {
    max-width: 48%;
  }

  .checkbox-text {
    min-width: 80px;
  }

  .events {
    padding-right: 20px;
  }

  .events__slider-container {
    padding-right: 30px;
  }

  .events__item-bg {
    height: 260px;
  }

  .events__descr {
    max-width: 100%;
  }

  .projects__descr {
    max-width: 80%;
  }

  .projects {
    padding-top: 85px;
    padding-bottom: 80px;
  }

  .projects__title {
    margin-bottom: 21px;
  }

  .projects__descr {
    max-width: 65.7%;
    margin-bottom: 24px;
    line-height: 32px;
  }

  .projects__link {
    color: var(--hover-color);
    font-weight: 600;
  }

  .projects__link:hover {
    text-decoration: underline;
  }

  .projects__link:active {
    color: var(--outline-color);
  }

  .partners-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 23px;
  }

  .partners__swiper {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  .partners__swiper-slide-link {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 1px solid #cacaca;
  }

  .partners__swiper-slide-link:focus,
  .partners__swiper-slide-link:active {
    outline: none;
    border: 1px solid var(--hover-color);
  }

  .partners__swiper-slide-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter .3s ease-in-out;
  }

  .partners__swiper-slide-link:hover .partners__swiper-slide-img {
    filter: grayscale(0%);
    opacity: 1;
  }

  .partners__swiper-slide-link:active .partners__swiper-slide-img {
    filter: grayscale(0%);
    opacity: 1;
  }

  .partners__button-prev,
  .partners__button-next {
    position: absolute;
    top: 55%;
  }

  .partners__button-prev {
    left: 0;
  }

  .partners__button-next {
    right: 0;
  }

  .partners__button-prev,
  .partners__button-next {
    background-color:#ececec;
    border: 1px solid #ececec;
  }

  .projects__descr {
    max-width: 80%;
  }

  .contacts {
    padding-top: 78px;
  }

  .contacts-text {
    flex-direction: column;
  }

  .contacts__titile__wrapper {
    padding-top: 9px;
    width: 100%;
  }

  .contacts-text__address {
    margin-bottom: 25px;
  }

  .contacts-form__input {
    width: 270px;
  }

  .contacts__messendger {
    margin: 0;
  }

  .contacts-form__btn {
    margin: 0;
    max-width: 340px;
    padding: 11px 41px 19px 37px;
  }

  .contacts-form__btn-text {
    font-weight: 700;
  }

  .contacts-form {
    margin-bottom: 30px;
  }

  .map {
    height: 700px !important;
  }

  .contacts__subtitle {
    margin-bottom: 4px;
  }

  .connect__messenger:not(:last-child) {
    margin-right: 17px;
  }
}

@media (max-width: 1025px) {

  .about__descr {
    max-width: 100%;
  }

  .gallery {
    padding-bottom: 81px;
  }

  .gallery__filter {
    width: 47%;
    margin-right: 47px;
  }

  .checkbox-wrapper {
    margin-top: 78px;
  }

  .label:not(:last-child) {
    margin-bottom: 0;
  }

  .checkbox-text {
    padding-left: 23px;
  }

  .checkbox-text::before {
    left: -2px;
  }

  .checkbox-text::after {
    top: 12px;
    left: 1px;
  }

  .gallery__swiper-navagation {
    margin-bottom: 34px;
    margin-left: 6px;
  }

  .gallery-slider {
    width: calc(1150 / 1784 * 100%);
  }

  .gallery__swiper-slide {
    padding-top: calc(7% - 8px);
  }

  .catalog {
    padding-top: 85px;
  }

  .catalog__title {
    margin-bottom: 21px;
  }

  .painter {
    max-width: 47.2%;
  }

  .painter__info {
    max-width: 100%;
  }

  .accordion {
    max-width: 47%;
  }

  .accordion__painter-list {
    columns: 2;
  }

  .events {
    padding-top: 83px;
    padding-bottom: 30px;
    padding-right: 50px;
  }

  .events__item {
    margin-bottom: 50px;
    min-height: 682px;
  }

  .events__item-bg {
    height: 200px;
    background-size: 116%;
    max-width: 100%;
  }

  .events__descr {
    max-width: 94%;
  }

  .events__title {
    margin-bottom: 3px;
    max-width: 100%;
  }

  .small-text {
    width: 100%;
    text-align: end;
    padding-right: 13px;
  }

  .small-text:nth-child(2) {
    margin-bottom: 6px;
  }

  .events__item-text {
    padding: 0 19px 38px 32px;
  }

  .events__button-next {
    display: none;
  }

  .events__button-prev {
    display: none;
  }

  .events__head-title {
    padding: 0;
  }

  .events__slider-container {
    padding: 0;
  }

  .projects {
    padding-top: 48px;
    padding-bottom: 77px;
  }

  .projects__descr {
    overflow: hidden;
    max-width: 100%;
  }

  .partners__swiper-container {
    max-width: 89%;
  }

  .partners__swiper-slide-link {
    height: 130px;
  }

  .ymaps-2-1-79-controls__control {
    inset: 270px 20px auto auto;
  }

  .contacts {
    padding-top: 35px;
    margin-bottom: 24px;
  }

  .contacts-text {
    padding-top: 0;
  }

  .contacts-form__btn {
    width: 340px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer__container {
    align-items: center;
  }

  .footer__social-link svg {
    width: 60px;
    height: 60px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 970px) {
  .header__up-mobile-search {
    left: 0;
    right: 0;
    z-index: 4;
    padding-top: 11px;
    padding-left: 50px;
    padding-right: 50px;
}

.header__up-mobile-search-form {
    justify-content: space-between;
}

.header__up-mobile-search-form-btn-submit {
    width: 33px;
    height: 34px;
    margin-right: 10px;
}

.header__up-mobile-search-form-field {
    width: 100%;
}

.header__up-mobile-search-button {
  width: 31px;
  height: 25px;
}

  .about__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .tabs-content__container {
    flex-direction: column;
  }

  .accordion {
    margin-left: 0;
    max-width: 100%;
    order: 1;
  }

  .accordion__painter-list {
    columns: 3;
  }

  .painter {
    max-width: 100%;
    order: 2;
  }

  .country-info {
    margin-bottom: 19px;
  }

  .painter__photo {
    margin-bottom: 26px;
    margin-top: 51px;
  }

  .events {
    padding-top: 75px;
    padding-bottom: 78px;
  }

  .events__head-title {
    margin-bottom: 21px;
  }

  .small-text {
    padding: 0;
  }

  .small-text:nth-child(2) {
    margin-bottom: 3px;
  }


  .events__title {
    margin-bottom: 6px;
  }

  .events__item-text {
    padding: 0 19px 48px 37px;
  }

  .projects {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .projects__descr {
    max-width: 99%;
    margin-bottom: 27px;
  }

  .partners__swiper-slide-link {
    height: 105px;
  }

  .partners-title {
    margin-bottom: 33px;
  }

  .partners__swiper-container {
    max-width: 85%;
  }

  .contacts-text__subtitle {
    margin-bottom: 15px;
  }

  .contacts-form {
    flex-wrap: wrap;
  }

  .contacts-form__input {
    margin: 0;
    margin-bottom: 12px;
    width: 323px;
  }

  .input-wraper:first-child {
    margin-right: 20px;
  }

  .contacts-form__btn {
    padding: 11px 28px 19px 28px;
    width: 317px;
  }

  .map {
    padding-top: 10px;
  }

}

@media (max-width:790px)
{
  .gallery {
    padding-bottom: 70px;
    padding-top: 83px;
    min-height: 887px;
  }

  .checkbox-wrapper {
    margin-top: 12px;
    padding-bottom: 22px;
  }

  .checkbox-text::before {
    top: 12px;
    left: 0px;
    width: 10px;
    height: 10px;
  }

  .checkbox-text::after {
    top: 15px;
    left: 2px;
  }

  .gallery__content {
    flex-wrap: wrap;
  }

  .gallery__filter {
    width: 42%;
    margin-right: 0;
  }

  .gallery__swiper-navagation {
    margin-left: 0px;
  }

  .gallery-slider {
    width: 100%;
  }

  .gallery__swiper-slide {
    padding-top: calc(3% - 9px);
  }

  .choices__list--dropdown{
    background: rgba(0, 0, 0, 1);
  }

}

@media (max-width:767px)
{
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }



    /* Header */
    .header__up-container {
        padding-top: 6px;
        padding-bottom: 8px;
    }

    .header__burger-menu-button span {
        height: 2px;
    }

    .header__burger-menu-button span:nth-child(1) {
        width: 24px;
        margin-bottom: 6px;
    }

    .header__burger-menu-button span:nth-child(2) {
        width: 16px;
        margin-bottom: 6px;
    }

    .header__burger-menu-button span:nth-child(3) {
        width: 10px;
    }

    .burger-menu-open span:nth-child(1) {
        width: 20px;
        transform: rotate(45deg) translate(2px, 1px);
    }

    .burger-menu-open span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, 1px);
        width: 20px;
    }

    .header__up-nav-log {
        padding: 51px 50px 26px 15px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .header__up-nav-link {
        font-size: 16px;
        letter-spacing: 0;
    }

    .header__up-nav-item:not(:last-child) {
        margin-bottom: 7px;
    }

    .header__up-login {
        padding: 6px 30px 6px 28px;
    }

    .header__up-login-link {
        font-size: 13px;
    }

    .header__up-login svg {
        width: 10px;
        height: 10px;
        margin-right: 0;
    }

    .header__mob-logo {
        margin-top: 6px;
    }


    .header__up-mobile-search {
        padding-top: 66px;
        padding-left: 57px;
        padding-right: 64px;
    }

    .header__up-mobile-search-form {
        align-items: flex-start;
    }

    .header__up-mobile-search-button {
        width: 22px;
        height: 31px;
    }

    .header__up-mobile-search-form-btn-submit {
        width: 18px;
        height: 23px;
        margin-right: 2px;
    }

    .header__up-mobile-search-form-field {
        border-bottom: 2px #dcdcdc solid;
    }

    .header__up-mobile-search-close-button {
        position: absolute;
        top: 45px;
        right: 15px;
        width: 15px;
        height: 15px;
    }

    .slider__info-container {
        padding: 35px 30px 46px 30px;
    }

    .slider__info-up {
        margin-bottom: 41px;
    }

    .slider__title {
        margin-bottom: 13px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }

    .slider__description {
        width: 101%;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
    }

    .slider__link {
        display: inline-block;
        margin: auto;
        padding: 4px 16px;
        font-size: 12px;
    }

    .contacts {
      padding-top: 30px;
      margin-bottom: 0;
      padding-bottom: 0;
      border-top: none;
    }

    .contacts-text__address {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .contacts-text {
      padding: 10px 0 18px 0;
      width: 100%;
    }

    .contacts-text__subtitle {
      margin-bottom: 0;
      font-size: 18px;
      line-height: 25px;
    }

    .input-wraper {
      width: 100%;
    }

    .contacts-form__input {
      margin-right: 0;
      width: 100%;
      height: 40px;
      margin-bottom: 19px !important;
    }

    .input-wraper:first-child {
      margin-right: 0;
    }

    .contacts-form__btn {
      height: 40px;
      padding: 10px 65px;
      margin-bottom: 21px;
      font-size: 12px;
      line-height: 16px;
    }

    .contacts-form__btn-small:hover {
      color: var(--white-color);
    }

    .contacts-form__btn-small:active {
      border: 1px solid var(--outline-color);
    }


    .contacts-form__btn-small:focus {
      border: 3px solid var(--outline-color);
      outline: 2px solid var(--outline-color);
      outline-offset: 4px;
    }

    .js-validate-error-label {
      top: -17px;
    }

    .contacts-form__btn-text {
      font-size: 12px;
      line-height: 16px;
    }

    .connect__messenger {
      width: 53px;
      height: 53px;
    }

    .contacts__subtitle-messenger {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .connect__messenger:not(:last-child) {
      margin-right: 16px;
    }

    .connect__messenger svg {
      width: 50px;
      height: 50px;
    }
 }

  @media (max-width: 560px) {
    .container {
      padding: 0 15px;
    }

    .header__mob-logo{
      text-align: center;
    }

    .header__logo-img {
      width: 50%;
    }

    .gallery-slider {
      position: relative;
    }

    .gallery__swiper-navagation {
      margin: auto;
      position: absolute;
      left: 0; bottom: -47px; right: 0;
    }

    .gallery__swiper-slide {
      max-height: 390px;
      padding-top: calc(30% - 12px);
    }


    .title {
      font-size: 28px;
    }

    .catalog {
      padding-top: 52px;
    }

    .catalog__title {
      margin-bottom: 15px;
    }


    .country-info {
      display: none;
    }

    .accordion {
      margin-bottom: 49px;
    }

    .accordion__btn {
      margin: 0;
      height: 73px;
    }

    .accordion__painter-list {
      padding-top: 21px;
      padding-bottom: 21px;
      columns: 1;
    }

    .painter__years-life {
      margin-bottom: 8px;
    }

    .accordion__title {
      font-size: 18px;
    }

    .accordion__arrow-btn {
      width: 30px;
      height: 30px;
      margin-right: 0;
    }

    .accordion__arrow-btn::after {
      top: 8px !important;
      left: 10px;
      width: 7px;
      height: 7px;
    }

    .accordion__arrow-btn--active::after {
      top: 11px !important;
    }

    .painter {
      padding-left: 0px;
    }

    .painter__photo {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .painter__name {
      margin-bottom: 13px;
    }
    .painter__info {
      max-width: 99%;
    }

    .events {
      padding-top: 55px;
      padding-bottom: 29px;
    }

    .events__head-title {
      margin-bottom: 15px;
    }

    .events__item {
      margin-right: 0;
    }

    .events__item-bg {
      margin-bottom: 14px;
      height: 200px;
    }

    .events__item-text {
      padding: 0 10px 48px 22px;
      max-width: 98%;
    }

    .small-text:nth-child(2) {
      margin-bottom: 9px;
    }

    .events__title {
      margin-bottom: 6px;
      max-width: 100%;
    }

    .swiper-container-horizontal> .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 18px !important;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 8px;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }


    .about {
      padding-bottom: 30px;
    }
    .about__container {
      padding-top: 53px;
      padding-left: 15px;
      padding-right: 17px;
      padding-bottom: 10px;
    }

    .about__title {
      margin-bottom: 14px;
    }

    .about__descr {
      font-size: 14px;
      line-height: 28px;
      max-width: 100%;
    }

    .gallery {
      padding-top: 53px;
      padding-bottom: 48px;
      min-height: 802px;
    }

    .gallery__title {
      margin-bottom: 24px;
    }

    .gallery__subtitle {
      margin-bottom: 12px;
    }

    .gallery__filter {
      margin-bottom: 10px;
      width: 100%;
      padding-left: 0;
    }

    .checkbox-wrapper {
      margin-top: 0;
    }

    .swiper-pagination {
      top: auto;
      left: 45%;
    }

    .projects {
      padding-top: 5px;
      padding-bottom: 0;
    }

    .projects__title {
      margin-bottom: 15px;
    }

    .partners-title {
      font-size: 18px;
      margin-bottom: 18px;
  }

    .projects__descr {
      margin-bottom: 15px;
    }

    .partners__swiper-container {
      max-width: 65%;
    }

    .partners__swiper-slide-link {
      height: 65px;
    }

    .partners__swiper-slide-img {
      height: 25px;
    }

    .contacts-form__btn {
     display: none;
    }

    .contacts-form__btn-small {
      display: block;
      max-width: 128px;
      height: 40px;
      padding: 10px 32px;
      margin-bottom: -8px;
    }

    .map {
      height: 320px !important;
    }

    .ymaps-2-1-79-controls__control {
      inset: 1117px 20px auto auto !important;
    }

    .footer {
      padding: 20px 0;
    }

    .footer__container {
      flex-direction: column;
    }

    .footer__logo {
      order: 2;
      width: 96px;
    }

    .footer__social-list {
      order: 1;
      margin-bottom: 17px;
    }

    .footer__social-list {
      margin-left: 0;
    }

    .footer__social-link svg {
      width: 50px;
      height: 50px;
    }

  }

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
